body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 80px auto 0;
}
.box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(300px - 30px);
    background: #010101;
    float: left;
    margin: 15px;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
}
.box:before {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleX(0);
    opacity: 0;
    z-index: 1;
}
.box:hover:before {
    transform: scaleX(1);
    opacity: 1;
}
.box:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    box-sizing: border-box;
    transition: 0.5s;
    transform: scaleY(0);
    opacity: 0;
    z-index: 1;
}
.box:hover:after {
    transform: scaleY(1);
    opacity: 1;
}
.imgBox {
    position: relative;
}
img {
    width: 100%;
    transition: 0.5s;
}
.box:hover img {
    opacity: 0.3;
    transform: scale(1.2);
}
.content {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px;
    box-sizing: border-box;
    text-align: center
}
h2 {
    margin: 0;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-50px);
    opacity: 0;
    visibility: hidden;
}
p {
    margin: 0;
    padding: 0;
    color: #fff;
    transition: 0.5s;
    transform: translateY(50px);
    opacity: 0;
    visibility: hidden;
}
.box:hover h2, .box:hover p {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition-delay: 0.2s;
}
@media all and (max-width:768px) {
    .box {
        float: none;
    }
}